.projectBox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  & > h3 {
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 24px;
    line-height: 120%;
  }
}
.projectImg {
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 50%;
  position: relative;
  &:hover .projectCover {
    opacity: 1;
  }
}
.projectCover {
  z-index: 10;
  opacity: 0;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  left: calc(50% - 150px);
  transition: opacity 0.3s;
  border: #ffffff 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.projectUnderConstruction {
  z-index: 10;
  opacity: 0.5;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  left: calc(50% - 150px);
  border: none;
  gap: 10px;
}
.projectBtn {
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Bad Script", cursive;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
  border: #ffffff 2px solid;
  border-radius: 5px;
}
