.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.aboutWrapper {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
}
.aboutImg {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-image: url("./Photo.jpg");
}
.aboutBox {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  & h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Lobster", cursive;
    font-style: normal;
    font-size: 48px;
    line-height: 120%;
  }
}
.aboutText {
  padding: 10px;
  & p {
    color: #ffffff;
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 24px;
    line-height: 180%;
  }
}
@media (max-width: 767px) {
  .aboutWrapper {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 10px;
  }
  .aboutText {
    padding: 10px;
    & p {
      font-size: 18px;
    }
  }
}
