.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgLogo {
  width: 256px;
}
.imgMenu {
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  color: #ffffff;
  font-family: "Lobster", cursive;
  font-style: normal;
  font-size: 32px;
  line-height: 120%;
  & > li {
    padding: 20px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .imgLogo {
    width: 128px;
  }
  .imgMenu {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
}
